* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo" !important;
  background-color: #f8f5f5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cairo" !important;
}
p {
  font-family: "Cairo" !important;
}
button {
  font-family: "Cairo" !important;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a4a2a2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}
